[project]
name = "watchcat"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = [
    { name = "Chuyang Chen", email = "chuyangchen2018@outlook.com" }
]
requires-python = ">=3.12"
dependencies = [
    "arxiv>=2.2.0",
    "click>=8.1.8",
    "litellm>=1.69.0",
    "phdkit",
    "sqlite-vec>=0.1.6",
    "tqdm>=4.67.1",
]
license = {file = "LICENSE"}

[project.scripts]
watchcat = "watchcat:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.uv.sources]
phdkit = { git = "https://github.com/cychen2021/phdkit.git" }

[dependency-groups]
dev = [
    "black>=25.1.0",
]
